/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '/node_modules/antd/dist/antd.css';
:root {
  --brown-1: #1b1614;
  --brown-2: #171211;
  --brown-3: #362d26;
  --dark-brown-1: #222222;
  --dark-brown-2: #201f1e;
  --dark-brown-3: #2c2b29;

  --orange-1: #ce8f32;
  --orange-2: #dda662;

  --white: #fff;
  --white-2: #aeacac;

  --black-1: #151110;
}
#root,
section.ant-layout.ant-layout-has-sider,
.ant-row.main-row {
  height: 100vh;
}
.ant-layout {
  background-color: var(--brown-3);
}
.logo {
  height: 32px;
  margin: 16px;
}

.site-layout-background {
  background-color: var(--brown-3);
}
/* main.ant-layout-content.main-content, .site-layout-sub-header-background {
  background: #362D26!important;
} */

.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav, .ant-tabs-top > div > .ant-tabs-nav, .ant-tabs-bottom > div > .ant-tabs-nav {
  margin: 0 0 0 0;
}
.ant-tabs-tabpane.ant-tabs-tabpane-active{
  height: 100vh;
}
