/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '/node_modules/antd/dist/antd.css';
:root {
  --brown-1: #1b1614;
  --brown-2: #171211;
  --brown-3: #362D26;

  --orange-1: #ce8f32;

  --white: #fff;
  --white-2: #AEACAC;

  --black-1: #151110;
}
#root,
section.ant-layout.ant-layout-has-sider,
.ant-row.main-row {
  height: 100vh;
}
.ant-layout{
  background-color: var(--brown-3);
}
.logo {
  height: 32px;
  margin: 16px;
}



.site-layout-background {
  background-color: var(--brown-3);
}
/* main.ant-layout-content.main-content, .site-layout-sub-header-background {
  background: #362D26!important;
} */
